<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movesmart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="movesmart"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name="com.example.movesmart.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- 기본 인텐트 필터 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오 SDK의 인증 활동 추가 -->
        <activity
            android:name="com.kakao.sdk.auth.authorization.AuthCodeActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <!-- 카카오톡에서 인증 후 돌아오는 인텐트 필터 추가 -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="movesmart" android:host="auth" />
            </intent-filter>
        </activity>

        <!-- 네이버 로그인 관련 설정 추가 -->
        <meta-data
            android:name="com.naver.sdk.client_id"
            android:value="YOUR_API_KEY_HERE"/>  <!-- 네이버에서 발급받은 Client ID -->
        <meta-data
            android:name="com.naver.sdk.client_secret"
            android:value="_WL_VdKc3O"/>  <!-- 네이버에서 발급받은 Client Secret -->

        <!-- 카카오 앱 키 추가 -->
        <meta-data
            android:name="kakao_app_key"
            android:value="YOUR_API_KEY_HERE"/>

        <!-- Google Maps API 키 추가 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY_HERE"/> <!-- Google Maps API 키 -->

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
